@charset "UTF-8";

body {
	margin: 0;
	font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
}


/* 基本 */

.post * {
	margin: 0;
}

.post img {
	width: 100%;
	height: auto;
	vertical-align: bottom;
}


/* グリッド */
.post {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(12, 1fr);
	grid-column-gap: 40px;
	padding: 0 30px;
	font-family: 'Noto Sans Japanese', sans-serif;
	font-size: 16px;
}


/* タイトル */
.post-title {
	grid-column: 1 / 5;
	grid-row: 1 / 3;
	align-self: center;
	z-index: 10;
	font-size: 2.8125em;
	font-weight: 900;
	line-height: 1.2;
}

/* サブタイトル */
.post-sub {
	grid-column: 1 / -1;
	grid-row: 2;
	color: #ddd;
	font-family: 'Montserrat', sans-serif;
	font-size: 3.375em;
	font-weight: 900;
	letter-spacing: 0.14em;
	line-height: 1;
}

/* 日付 */
.post-date {
	grid-column: 5;
	grid-row: 2;
	justify-self: end;
	font-family: 'Montserrat', sans-serif;
	font-size: 0.875em;
}

/* リード文 */
.post-lead {
	grid-column: 1 / 3;
	grid-row: 3 / 5;
	font-size: 0.9375em;
	font-weight: 700;
	line-height: 1.8;
}

/* 文章01 */
.post-text01 {
	grid-column: 1 / 3;
	grid-row: 5 / 9;
	font-size: 0.75em;
	font-weight: 200;
	line-height: 2;
	text-align: justify;
	text-justify: inter-ideograph;
}

/* 画像01 */
.post-fig01 {
	grid-column: 3 / 6;
	grid-row: 3 / 7;
	margin-right: -30px;
}

.post-fig01 img {
	height: 100%;
	object-fit: cover;
}

/* キャッチコピー */
.post-catch {
	grid-column: 3 / 6;
	grid-row: 7;
	justify-self: center;
	align-self: center;
	margin-left: 30px;
	font-size: 1.25em;
	line-height: 1.5;
	text-align: center;
	quotes: '“' '”';
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 5px;
}

.post-catch::before {
	content: open-quote;
}

.post-catch::after {
	content: close-quote;
}

.post-catch::before,
.post-catch::after {
	color: #aaa;
	font-size: 2em;
	font-weight: 900;
}


/* 文章02 */
.post-text02 {
	grid-column: 3 / 5;
	grid-row: 8 / 13;
	font-size: 0.75em;
	font-weight: 200;
	line-height: 2;
	text-align: justify;
	text-justify: inter-ideograph;
}

/* 画像02 */
.post-fig02 {
	grid-column: 1 / 3;
	grid-row: 9 / 13;
	align-self: center;
}

.post-fig02 figcaption {
	font-size: 0.625em;
	font-weight: 500;
}

/* SNSメニュー */
.post-sns {
	grid-column: 5;
	grid-row: 8 / 13;
	justify-self: end;
	align-self: center;
}

.post-sns ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: grid;
	grid-row-gap: 10px;
}

.post-sns a {
	font-size: 1.5em;
	color: #aaa;
	text-decoration: none;
	text-align: center;
	border: solid 1px #aaa;
	border-radius: 50%;
	display: block;
	width: 2em;
	height: 2em;
	line-height: 2em;
}



/* マーク画像 */
.post::after {
	grid-column: 2 / 4;
	grid-row: 4 / 6;
	justify-self: center;
	align-self: center;
	width: 9.375em;
	height: 9.375em;
	content: url(img/anchor.svg);
	opacity: 0.15;
}


/* ##### 画面の横幅1000ピクセル以上 ##### */
@media (min-width: 1000px) {

	.post {
		width: 1000px;
		box-sizing: border-box;
		margin: auto;
		font-size: 20px;
	}

}


/* ##### 画面の横幅769～999ピクセル ##### */
@media (min-width: 769px) and (max-width: 999px) {
	.post {
		font-size: calc(16px + 4 * (100vw - 768px) / 232);
	}
}


/* ##### 画面の横幅767ピクセル以下 ##### */
@media (max-width: 767px) {

	.post {
		grid-template-columns: none;
		grid-template-rows: none;
		grid-row-gap: 20px;
		padding: 20px;
		font-size: 14.4px;
	}

	.post > *,
	.post::after {
		grid-column: auto;
		grid-row: auto;
	}


	/* タイトル */
	.post-title {
		grid-column: 1;
		grid-row: 1;
		word-break: keep-all;
	}

	/* マーク画像 */
	.post::after {
		grid-column: 1;
		grid-row: 1;
		justify-self: end;
		margin-bottom: -20px;
	}

	/* サブタイトル */
	.post-sub {
		grid-column: 1;
		grid-row: 2;
		font-size: 24px;
	}

	/* 日付 */
	.post-date {
		grid-column: 1;
		grid-row: 2;
		align-self: end;
	}

	/* リード文 */
	.post-lead {
		font-size: 16px;
	}

	/* 画像01 */
	.post-fig01 {
		margin-left: -20px;
		margin-right: -20px;
	}

	/* キャッチコピー */
	.post-catch {
		margin-left: 0;
		margin-top: -35px;
		justify-self: end;
		background: rgba(255,255,255,0.6);
		box-shadow: 0 0 10px 10px rgba(255,255,255,0.6);
		border-radius: 10px;
	}

	/* 文章01 & 文章02 */
	.post-text01,
	.post-text02 {
		font-size: 15px;
	}

	/* SNSメニュー */
	.post-sns {
		justify-self: center;
	}

	.post-sns ul {
		grid-auto-flow: column;
		grid-column-gap: 20px;
	}

}


